@import '~bootstrap-icons/font/bootstrap-icons';
@import './settings.scss';

*{
  // border: 1px solid red
}

body{
  background-color: $primary-color;
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

@mixin w-h-100{
  width: 100%;
  height: 100%;
}

@mixin center-all{
  display: flex;
  align-items: center;
  justify-content: center;
}
