//colors
$white-color: #fff;
$black-color: #000;
$primary-color: #4618AC;
$secondary-color: #f1c40f;
$dark-orange-color: #F5A623;
$green-color: #107c0f;
$purple-color: #32117d;
$dark-purple-color: #311178;
$dark-purple-color2: #1c0a45;
$grey-color: #9288ad;
$red-color: #eb3b5a;

//look
$radius: 8px;
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$font-family: 'Montserrat', 'sans-serif';
$font-weights: (
  'regular': 400,
  'bold': 700,
);

//break points
$mobile: 480px;
$tablet: 700px;
$desk: 1024px;
