@import '../../styles/settings.scss';

.comment {
  background-color: $purple-color;
  box-sizing: border-box;
  border: 2px solid $purple-color;
  color: $white-color;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.comment__user{
  font-weight: map-get($font-weights, bold);
  margin-right: 5px;
}

.no-comments {
  color: $white-color;
}
